<%= simple_form_for(@owner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, class: 'form-control' %>
    <%= f.input :last_name, class: 'form-control' %>
    <%= f.input :phone, class: 'form-control' %>
    <%= f.input :address, class: 'form-control' %>
    <%= f.input :city, class: 'form-control' %>
    <%= f.input :state, class: 'form-control' %>
    <%= f.input :zip, class: 'form-control' %>
    <%= f.input :emergency_name, class: 'form-control' %>
    <%= f.input :emergency_phone, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-sm' %>
  </div>
  <br>
<% end %>
