<%= simple_form_for(@dog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, class: 'form-control' %>
    <%= f.association :breed, class: 'form-control' %>
    <%= f.input :dob, class: 'form-control' %>
    <%= f.input :weight, class: 'form-control' %>
    <%= f.association :vet, class: 'form-control' %>
    <%= f.input :in_daycare, class: 'form-control' %>
    <%= f.simple_fields_for(:custodies) do |custody_fields| %>
      <%= custody_fields.association :owner, collection: Owner.order(:last_name, :first_name), class: 'form-control' %>
      <%# Only show the destroy checkbox if a record is already saved  %>
      <% if custody_fields.object.persisted? %>
        <%= custody_fields.input :_destroy, as: :boolean %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-sm' %>
  </div>
  <br>
<% end %>
